# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual environment
datamining_env/
venv/
env/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz

# OS
.DS_Store
Thumbs.db

# Large CSV files (>50MB)
data/dataset_original.csv
data/dataset_preprocessed.csv

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.tex
